<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orientdata.lookforcustomers"
    android:versionCode="202"
    android:versionName="2.0.2">

    <!-- Required -->
    <permission
        android:name="com.orientdata.lookforcustomers.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.orientdata.lookforcustomers.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CONTACTS" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.SMS" />


    <!-- 百度地图权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- END OF 百度地图定位 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- 友盟分享 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>


    <!--微信支付-->

    <!-- OpenGLES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- 蒲公英内侧必选-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="4b6e8877dfcc2462bedb37dcf66b6d87" >
        </meta-data>


        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zYqGZSxS1XS6HD2Dq5k8vKjByBiOnVrM" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- 友盟推送 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58c0fc3a07fe653c10001c45"/>
        <!--<meta-data android:value="umeng" android:name="UMENG_CHANNEL"/>-->

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="6119919e888e88f695761c9d6b627293" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" /> <!--渠道号，多渠道这里使用了占位符$-->

        <activity
            android:name=".view.login.imple.LoginAndRegisterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.home.imple.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.webview.imple.CommonWebView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.certification.impl.CertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.certification.PersonalQualificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.agreement.MyWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.certification.EnterpriseCertificationUploadActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".view.certification.PersonalCertificationUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.clip.ClipActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".test.TestActivity2" />
        <activity android:name=".view.ImagePagerActivity" />
        <activity
            android:name=".view.GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LaunchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.findcustomer.CreateFindCustomerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".view.certification.WathchCertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.findcustomer.CityPickActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.findcustomer.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.findcustomer.impl.DirectionalSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.findcustomer.impl.DirectionalSettingActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.findcustomer.impl.PageTaskActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.findcustomer.impl.MessageTaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.findcustomer.impl.AddAdvertiseImgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.findcustomer.ImageMakingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.findcustomer.CreateAdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".view.findcustomer.DownLoadImgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.findcustomer.TaskDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.findcustomer.DirectionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.findcustomer.TestPhoneListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.findcustomer.TestPhoneSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".view.findcustomer.CreateAdActivity2"
            android:screenOrientation="portrait" />



        <!--<service android:name="com.app.EastOffice.exceptionbroadcast.MyPushIntentService"/>-->

        <!--分享-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106072736" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <receiver
            android:name=".receiver.ExceptionBroadCast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.microdreams.timeprints.error" />
            </intent-filter>
        </receiver>


        <activity android:name=".view.home.AnnouncementDetailActivity" />
        <activity android:name=".view.home.AnnouncementListActivity" />
        <activity android:name=".view.home.RechargeActivity"/>
        <!--微信支付回调-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--支付宝回调-->
        <!--<activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".view.home.InvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.InvoiceHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mine.imple.MyCommissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mine.ShareToGetCommissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mine.DescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mine.imple.CommissionWithDrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mine.imple.PhoneCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.OfflineRechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.UploadOfflineRechargeReceiptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.OfflineRechargeReceiptDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.mine.imple.CommissionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mine.imple.AccountBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.imple.MsgDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.InvoiceNextStepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mine.imple.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mine.imple.AccountBalanceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mine.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.InvoiceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.InvoiceTaskListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.DirectionalSettingActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mine.TaskListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.fragment.MeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mine.MessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.home.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppTheme.Transparent"
            android:name=".view.home.MainHomeActivity"
            android:screenOrientation="portrait" />



        <!-- push start -->
        <service android:name=".push.MyPushIntentService" />
        <service android:name=".push.UmengNotificationService" />
        <service android:name=".push.MyNotificationService" />
        <receiver android:name=".push.NotificationBroadcast" />
        <!-- push end -->











        <!--Jpush******************************* -->

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="com.orientdata.lookforcustomers.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:exported="false"
            />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.orientdata.lookforcustomers" />
            </intent-filter>

        </service>
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="com.orientdata.lookforcustomers.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.orientdata.lookforcustomers" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".push.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.orientdata.lookforcustomers" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name=".push.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.orientdata.lookforcustomers"/>
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="41ba2125ad4e53c2bdeb95c9"/> <!--  </>值来自开发者平台取得的AppKey-->

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.orientdata.lookforcustomers" />
            </intent-filter>
        </activity>
        <!-- SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.orientdata.lookforcustomers" />
            </intent-filter>
        </activity>


    </application>

</manifest>